/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    color : #fffcfc

}

body{
    background-color: #030303;
}

#tasklist ::-webkit-scrollbar{
    display: none;

}
